.col-md-3 {
  width: 280px;
  height: 200px;
  margin: 5px;
  background-color: #63192b
;
  overflow: auto;
}
.red-background {
  background-color: ##997272;

}

body {
  background-color: #fffcf2;
}

.row {

}


.panel {
  background-color: #63192b;
  border: none;
  color: white;
}
h2 {
  font-size: 15px;
  max-width: 100%;
  text-align: center;
  line-height: 140px;
}


.panel-body {
  display: none;
}

p {
  margin-left: 2px;
}
 h2:hover {
   cursor: pointer;
   color: #919191;
   text-decoration: underline;
 }

.well {
  background-color: #536a70;

}

.well p {
  text-align: center;
  color: white;
}
.well h1 {
  text-align: center;
}
