.col-md-3 {
  width: 280px;
  height: 100%;
  margin: 5px;
  background-color: lightblue;
}
.red-background {
  background-color: ##997272;

}
.row {

}


.panel {
  background-color: lightblue;
  border: none;
}
h2 {
  font-size: 15px;
  max-width: 100%;
  text-align: center;
  line-height: 140px;
}


.panel-body {
  display: none;
}

p {
  margin-left: 2px;
}
 h2:hover {
   cursor: pointer;
   color: purple;
   text-decoration: underline;
 }

.well p {
  text-align: center;
}
.well h1 {
  text-align: center;
}
