.col-md-3 {
  width: 250px;
  height: 100%;
  margin: 5px;
  background-color: lightblue;
}
.red-background {
  background-color: ##997272;

}

.panel {
  background-color: lightblue;
  border: none;
}
h2 {
  font-size: 15px;
  max-width: 100%;
  text-align: center;
  line-height: 140px;
}


.panel-body {
  display: none;
}

p {
  margin-left: 2px;
}
